{{#each erro}}
<div class="alert alert-danger">{{text}}</div>
{{else}}
{{/each}}

<h3>Editar guia</h3>
<p>Por: {{user.nome}}</p>

<div class="card">
  <div class="card-body">
    <form action="/ctes/editar" method="POST">
      <input type="hidden" name="id" value="{{guia._id}}">
      <input type="hidden" name="user" value="{{user._id}}">
      <div class="table-responsive-xl">
        <table class="table">
          <thead class="table-dark">
            <tr>
              <th scope="col">Conhecimento</th>
              <th scope="col">Origem</th>
              <th scope="col">Destino</th>
              <th scope="col">Cliente</th>
              <th scope="col">Empresa</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>
                <div class="form-floating mb-3">
                  <input type="number" value="{{guia.numero}}" class="form-control" name="numero"
                    placeholder="Valor da Guia" disabled>
                  <label for="floatingInput">Numero Conhecimento</label>
                </div>
              </td>
              <td>
                <div class="form-floating">
                  <select name="origem" class="form-select" id="floatingSelect" aria-label="Agencia Origem">
                    <option value={{guia.origem._id}}>{{guia.origem.cidade}}</option>
                    <hr>
                    {{#each agencias}}
                    <option value="{{_id}}">{{cidade}}</option>
                    {{else}}
                    {{/each}}
                  </select>
                  <label for="floatingSelect">Agencia Origem</label>
                </div>
              </td>
              <td>
                <div class="form-floating">
                  <select name="destino" class="form-select" id="floatingSelect2" aria-label="Agencia Destino">
                    <option value={{guia.destino._id}}>{{guia.destino.cidade}}</option>
                    {{#each agencias}}
                    <option value="{{_id}}">{{cidade}}</option>
                    {{else}}
                    {{/each}}
                  </select>
                  <label for="floatingSelect2">Agencia de Destino</label>
                </div>
              </td>
              <td>
                <div class="form-floating mb-3">
                  <input type="text" value="{{guia.cliente}}" name="cliente" class="form-control" id="floatingInput"
                    placeholder="Cliente" required>
                  <label for="floatingInput">Cliente</label>
                </div>
              </td>
              <td>
                <div class="form-floating">
                  <select name="empresa" class="form-select" id="floatingSelect2" aria-label="Agencia Destino">
                    <option value="{{guia.empresa._id}}">{{guia.empresa.empresa}}</option>
                    {{#each empresas}}
                    <option value="{{_id}}">{{empresa}}</option>
                    {{else}}
                    {{/each}}
                  </select>
                  <label for="floatingSelect">Empresa</label>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

        <table class="table">
          <thead class="table-dark">
            <tr>
              <th scope="col">Entrada</th>
              <th scope="col">Vencimento</th>
              <th scope="col">Valor</th>
              <th scope="col">Status </th>
              <th scope="col">Baixa </th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td><input type="date" value="{{guia.date_entrada}}" class="form-control" name="dateEntrada"></td>
              <td><input type="date" value="{{guia.date_pagamento}}" class="form-control" name="dateVencimento"></td>
              <td>
                <div class="input-group mb-3">
                  <span class="input-group-text">R$</span>
                  <span class="input-group-text">0.00</span>
                  <input name="valor" value="{{guia.valor}}" type="number" class="form-control"
                    aria-label="Dollar amount (with dot and two decimal places)" required>
                </div>
              </td>
              <td>
                <select name="formaPag" class="form-select" required>
                  <option value="{{guia.formaPag}}">{{guia.formaPag}}</option>
                  <option value="A VISTA">A VISTA</option>
                  <option value="A COBRAR">A COBRAR</option>
                  <option value="FATURADO">FATURADO</option>
                  <option value="CANCELADO">CANCELADO</option>
                </select>
              </td>
              <td><input type="checkbox" {{guia.check}} name="baixa" value="true">Baixado</td>
            </tr>
          </tbody>
        </table>

      </div>
      <button class="btn btn-secondary" type="submit">Alterar</button> <button class="btn btn-outline-secondary"
        type="reset">Limpar</button>
    </form>
  </div>
</div><br>
<a href="/administracao/ctes/exclusao/{{guia._id}}"><button class="btn btn-outline-danger mt-2">Excluir</button></a>
<a href="/ctes"><button class="btn btn-outline-primary mt-2" type="reset">Cancelar</button></a>