{{#if user}}
<nav class="navbar navbar-expand-lg bg-body-tertiary shadow "
  style="background-image: linear-gradient( to bottom right, rgb(255, 255, 255) 60%,rgb(204, 1, 1),  rgb(255, 183, 0));  font-weight:bold">
  <div class="container-fluid">
    <a class="navbar-brand" href="/painel"><img src="/img/icon.png" width="60" height="30"
        class="d-inline-block align-top" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {{#if user.eDigitador}}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Movimentação
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/guias">Cadastrar Guia de Excesso</a></li>
            <!--<li><a class="dropdown-item" href="/arrecadacao">Cadastrar Prestação Contas</a></li>
            <li><a class="dropdown-item" href="/ctes">Cadastrar CTE</a></li>-->
            <li><a class="dropdown-item" href="/consultas/por_entrega">Buscar status de entrega</a></li>
            <li><a class="dropdown-item" href="/consultas/por_agencia_por_pagamento">Buscar status de pagamento</a></li>

          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Controle
          </a>
          <ul class="dropdown-menu">
            {{#if user.eControle}}
            <li><a class="dropdown-item" href="/administracao/clientes">Cadastrar Clientes</a></li>
            <li><a class="dropdown-item" href="/talao">Cadastrar Talões</a></li>
            <li><a class="dropdown-item" href="/periodos">Abrir e Encerrar Digitação</a></li>
            <li><a class="dropdown-item" href="/comissao/cargas">Calcular Comissão de Excesso de Bagagem</a></li>
            {{else}}
            <li><a class="dropdown-item" href="/administracao/clientes">Cadastrar Clientes</a></li>
            <li><a class="dropdown-item" href="/talao">Cadastrar Talões</a></li>
            {{/if}}
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Relatorios
          </a>
          <ul class="dropdown-menu">
            <!--<li><a class="dropdown-item" href="/comissao/bilhetes">Comissão dos Bilhetes</a></li>-->
            <li><a class="dropdown-item" href="/consultas/guias_cadastradas">Guias Cadastradas</a></li>
            <li><a class="dropdown-item" href="/consultas/vendas_por_agencia">Vendas por Agencia</a></li>
            <li><a class="dropdown-item" href="/consultas/detalhado_do_periodo">Detalhamento do Periodo</a></li>
            <li><a class="dropdown-item" href="/consultas/hitorico_de_comissao">Historico de comissão</a></li>
          </ul>
        </li>
        {{else}}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Movimentação
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/guias/minhas_guias/remetente">Guias como Remetente</a></li>
            <li><a class="dropdown-item" href="/guias/minhas_guias/destinatario">Guias como Destinatario</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Controle
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/administracao/clientes">Clientes Cadastrados</a></li>
            <li><a class="dropdown-item" href="/talao">Meus Talões</a></li>
          </ul>
        </li>
        {{/if}}

        {{#if user.eAdmin}}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Administrador
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/administracao/empresas">Cadastrar Empresas</a></li>
            <li><a class="dropdown-item" href="/administracao/users">Cadastrar Usuarios</a></li>
            <li><a class="dropdown-item" href="/administracao/agencias">Cadastrar Agencias</a></li>
            <li><a class="dropdown-item" href="#">Log dos Usuarios</a></li>
          </ul>
        </li>
        {{else}}
        {{/if}}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/validation/sobre">Sobre</a>
        </li>
        <li class="  nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{user.nome}}
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/user/reset_pass">Alterar Senha</a></li>
            <li><a class="dropdown-item" href="/user/logout">Sair</a></li>

          </ul>
        </li>
      </ul>
      {{#if user.eDigitador}}
      <form class="d-flex" role="search" action="/guias/buscar" method="post">
        <input name="numero" class="form-control me-2" type="search" placeholder="Nº Guia/P.Contas "
          aria-label="Conhecimento">
        <button class="btn btn-secondary" type="submit">Buscar</button>
      </form>
      {{else}}
      {{/if}}
    </div>
  </div>
</nav>
{{else}}
{{/if}}