<form action="/arrecadacao/buscar_guias/buscar" method="get">
    <div class="card">
        <div class="card-header">
            <h3>Buscar Guias</h3>
        </div>
        <div class="card-body">
            <table class="table table-borderless">
                <thead class="table-success">
                    <tr>
                        <th scope="col">Data Operação:</th>
                        <th scope="col">Empresa </th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>
                            <input type="date" class="form-control" name="dateOperacao" required>
                        </td>
                        <td>
                            <select name="empresa" class="form-select" id="floatingSelect" aria-label="Empresa"
                                required>
                                <option value="selecione">---Selecione---</option>
                                {{#each empresas}}
                                <option value="{{_id}}">{{empresa}}</option>
                                {{else}}
                                {{/each}}
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button type="submit" class="btn btn-outline-success">Buscar</button>
        </div>
    </div>
</form>
<br>
{{#if sumarios}}
<h3>Guias Encontradas</h3>
<br>
<div class="table-responsive-xl">
    <table class="table table-bordered fs-6">
        <thead class="table-dark">
            <tr>
                <th scope="col">Número</th>
                <th scope="col">Data Operação</th>
                <th scope="col">Empresa</th>
                <th scope="col">Agencia</th>
                <th scope="col">Entradas</th>
                <th scope="col">Saidas</th>
                <th scope="col">Liquido</th>
                <th scope="col">#</th>

            </tr>
        </thead>
        <form action="/administracao/arrecadacao/excluir" method="post">
            {{#each sumarios}}
            <tbody>
                <tr>
                    <th scope="row"><a href="/arrecadacao/selectEdit/{{_id}}">{{numero}}</a></th>
                    <td>{{dateExib}}</td>
                    <td>{{empresa.empresa}}</td>
                    <td>{{agencia.cidade}}</td>
                    <td>{{totalEntradas}}</td>
                    <td>{{totalSaidas}}</td>
                    <td>{{liqExib}}</td>
                    <td><input type="checkbox" name="ident" value="{{_id}}"></td>
                </tr>
            </tbody>
            {{else}}
            {{/each}}
    </table>
    <button class="btn btn-sm btn-outline-danger" type="submit">Excluir Selecionados</button>
    </form>
</div>
</div>
{{else}}
{{/if}}
<br>