{{#each erro}}
<div class="alert alert-danger">{{text}}</div>
{{else}}
{{/each}}

<h3>Adicionar Prestação de Contas das Agencias</h3>

<form action="/arrecadacao/adicionar" method="POST">
    <div class="table-responsive-xl">
        <!--Formulario Dados Sumario-->
        <div class="card">
            <div class="card-header">
                <h5>Dados Sumário</h5>
            </div>
            <div class="card-body">
                <table class="table table-borderless">
                    <thead class="table-primary">
                        <tr>
                            <th scope="col">N° Sumario</th>
                            <th scope="col">Empresa</th>
                            <th scope="col">Agencia</th>
                            <th scope="col">Data Operação</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>
                                <input type="number" class="form-control" name="numero" placeholder="000000" required>
                            </td>
                            <td>
                                <select name="empresa" class="form-select" id="floatingSelect" aria-label="Empresa"
                                    required>
                                    <option value="selecione">---Selecione---</option>
                                    {{#each empresas}}
                                    <option value="{{_id}}">{{empresa}}</option>
                                    {{else}}
                                    {{/each}}
                                </select>
                            </td>
                            <td>
                                <select name="agencia" class="form-select" id="floatingSelect2" aria-label="Agencia"
                                    required>
                                    <option value="selecione">---Selecione---</option>
                                    {{#each agencias}}
                                    <option value="{{_id}}">{{cidade}}</option>
                                    {{else}}
                                    {{/each}}
                                </select>
                            </td>
                            <td>
                                <input type="date" class="form-control" name="dateOperacao" required>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div><br>
        <!--Formulario Entradas-->
        <div class="card">
            <div class="card-header">
                <h5>Entradas</h5>
            </div>
            <div class="card-body">
                <!--Primeira Linhas das entradas-->
                <table class="table table-borderless">
                    <thead class="table-success">
                        <tr>
                            <th scope="col" colspan="2">Passagens </th>
                            <th scope="col" colspan="2">Seguros </th>
                            <th scope="col" colspan="2">Pedagio </th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>
                                <input type="number" class="form-control" name="qtdBilhetes" placeholder="Quantidade">
                            </td>
                            <td>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">R$</span>
                                    <input name="totalBilhetes" step="any" type="number" class="form-control"
                                        placeholder="Valor"
                                        aria-label="Dollar amount (with dot and two decimal places)">
                                </div>
                            </td>
                            <td>
                                <input type="number" class="form-control" name="qtdSeguro" placeholder="Quantidade">
                            </td>
                            <td>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">R$</span>
                                    <input name="totalSeguro" step="any" type="number" class="form-control"
                                        placeholder="Valor"
                                        aria-label="Dollar amount (with dot and two decimal places)">
                                </div>
                            </td>
                            <td>
                                <input type="number" class="form-control" name="qtdPedagio" placeholder="Quantidade">
                            </td>
                            <td>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">R$</span>
                                    <input name="totalPedagio" type="number" step="any" class="form-control"
                                        placeholder="Valor"
                                        aria-label="Dollar amount (with dot and two decimal places)">
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!--Segunda Linhas das entradas-->
                <table class="table table-borderless">
                    <thead class="table-success">
                        <tr>
                            <th scope="col" colspan="2">Exesso Bagagem </th>
                            <th scope="col" colspan="2">Cargas</th>
                            <th scope="col">Outras Entradas</th>
                            <th scope="col">Liquido Entradas </th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>
                                <input type="number" class="form-control" name="qtdBagagem" placeholder="Quantidade">
                            </td>
                            <td>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">R$</span>
                                    <input name="totalBagagem" step="any" type="number" class="form-control"
                                        aria-label="Dollar amount (with dot and two decimal places)"
                                        placeholder="Valor">
                                </div>
                            </td>
                            <td>
                                <input type="number" class="form-control" name="qtdCargas" placeholder="Quantidade">
                            </td>
                            <td>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">R$</span>
                                    <input name="totalCargas" type="number" step="any" placeholder="Valor"
                                        class="form-control"
                                        aria-label="Dollar amount (with dot and two decimal places)">
                                </div>
                            </td>
                            <td>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">R$</span>
                                    <input name="totalOutrosEntradas" placeholder="Valor" type="number" step="any"
                                        class="form-control"
                                        aria-label="Dollar amount (with dot and two decimal places)">
                                </div>
                            </td>
                            <td>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">R$</span>
                                    <input name="totalEntradas" type="number" step="any" placeholder="Valor"
                                        class="form-control"
                                        aria-label="Dollar amount (with dot and two decimal places)">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="6">
                                <p>Observações</p>
                                <textarea name="obsOutrosEntradas" rows="3" class="form-control"></textarea>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div><br>

        <!--Formulario Saidas-->
        <div class="card">
            <div class="card-header">
                <h5>Saidas</h5>
            </div>
            <div class="card-body">
                <!--Primeira Linhas das Saidas-->
                <table class="table table-borderless">
                    <thead class="table-danger">
                        <tr>
                            <th scope="col" colspan="2">Requisições </th>
                            <th scope="col" colspan="2">Cortesias </th>
                            <th scope="col" colspan="2">Devolução </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input type="number" class="form-control" name="qtdRequisicao" placeholder="Quantidade">
                            </td>
                            <td>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">R$</span>
                                    <input name="totalRequisicao" type="number" step="any" class="form-control"
                                        placeholder="Valor"
                                        aria-label="Dollar amount (with dot and two decimal places)">
                                </div>
                            </td>
                            <td>
                                <input type="number" class="form-control" name="qtdCortesia" placeholder="Quantidade">
                            </td>
                            <td>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">R$</span>
                                    <input name="totalCortesia" type="number" class="form-control" format="currency"
                                        precision="2" placeholder="Valor"
                                        aria-label="Dollar amount (with dot and two decimal places)">
                                </div>
                            </td>
                            <td>
                                <input type="number" class="form-control" name="qtdDevolucao" placeholder="Quantidade">
                            </td>
                            <td>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">R$</span>
                                    <input name="totalDevolucao" type="number" class="form-control" format="currency"
                                        precision="2" placeholder="Valor"
                                        aria-label="Dollar amount (with dot and two decimal places)">
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!--Segunda Linhas das saidas-->
                <table class="table table-borderless">
                    <thead class="table-danger">
                        <tr>
                            <th scope="col" colspan="2">Desconto </th>
                            <th scope="col" colspan="2">Vale Transporte </th>
                            <th scope="col">Outros </th>
                            <th scope="col">Liquido Saidas</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>
                                <input type="number" class="form-control" name="qtdDesconto" placeholder="Quantidade">
                            </td>
                            <td>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">R$</span>
                                    <input name="totalDesconto" type="number" step="any" class="form-control"
                                        aria-label="Dollar amount (with dot and two decimal places)"
                                        placeholder="Valor">
                                </div>
                            </td>
                            <td>
                                <input type="number" class="form-control" name="qtdVale" placeholder="0">
                            </td>
                            <td>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">R$</span>
                                    <input name="totalVale" type="number" step="any" class="form-control"
                                        aria-label="Dollar amount (with dot and two decimal places)">
                                </div>
                            </td>
                            <td>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">R$</span>
                                    <input name="totalOutrosSaidas" type="number" step="any" class="form-control">
                                </div>
                            </td>
                            <td>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">R$</span>
                                    <input name="totalSaidas" type="number" step="any" class="form-control"
                                        aria-label="Dollar amount (with dot and two decimal places)">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="6">
                                <p>Observações</p>
                                <textarea name="obsOutrosSaidas" rows="3" class="form-control"></textarea>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div><br>

        <!--Formulario Resumo-->
        <div class="card">
            <div class="card-header">
                <h5>Resumo</h5>
            </div>
            <div class="card-body">
                <table class="table table-borderless">
                    <thead class="table-secondary">
                        <tr>
                            <th scope="col">Liquido Total</th>
                            <th scope="col">Deposito</th>
                            <th scope="col">Cheque</th>
                            <th scope="col">RVR</th>
                            <th scope="col">Pendencia</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">R$</span>
                                    <input name="liquido" type="number" step="any" class="form-control"
                                        placeholder="Valor"
                                        aria-label="Dollar amount (with dot and two decimal places)">
                                </div>
                            </td>
                            <td>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">R$</span>
                                    <input name="deposito" type="number" step="any" class="form-control"
                                        placeholder="Valor"
                                        aria-label="Dollar amount (with dot and two decimal places)">
                                </div>
                            </td>
                            <td>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">R$</span>
                                    <input name="cheque" type="number" step="any" class="form-control"
                                        placeholder="Valor"
                                        aria-label="Dollar amount (with dot and two decimal places)">
                                </div>
                            </td>
                            <td>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">R$</span>
                                    <input name="rvr" type="number" step="any" class="form-control" placeholder="Valor"
                                        aria-label="Dollar amount (with dot and two decimal places)">
                                </div>
                            </td>
                            <td>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">R$</span>
                                    <input name="valorPendente" type="number" step="any" class="form-control"
                                        placeholder="Valor"
                                        aria-label="Dollar amount (with dot and two decimal places)">
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div><br>

    </div>
    <button class="btn btn-secondary btn-sm" type="submit">Gravar</button>
    <button class="btn btn-outline-secondary btn-sm" type="reset">Limpar</button>
</form>
<br>