<div id="content" class="mt-4 p-3">
    <h5 style="font-weight: bold;">Periodo: {{periodo.nome}}</h5>
    <p>{{periodo.empresa.empresa}}</p>
    <small>Inicio: {{periodo.inicial}}</small><br>
    <small>Final: {{periodo.final}}</small><br>
    <small>Total Vendas: {{periodo.vendasT}}</small><br>
    <small>Total Comissão: {{periodo.comissaoT}}</small><br>
    <hr>
    <table class="table">
        <hr>

        <thead class="table-dark">
            <tr>
                <th scope="col">Status</th>
                <th scope="col">Quantidade</th>
                <th scope="col">Valor Total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Pago</td>
                <td>{{resumo.pagasQtd}}</td>
                <td>{{resumo.pagasValor}}</td>
            </tr>
            <tr>
                <td>Pendentes</td>
                <td>{{resumo.pendentesQtd}}</td>
                <td>{{resumo.pendentesValor}}</td>
            </tr>
            <tr>
                <td>Vencidas</td>
                <td>{{resumo.vencidasQtd}}</td>
                <td>{{resumo.vencidasValor}}</td>
            </tr>
            <tr>
                <td>Canceladas</td>
                <td>{{resumo.canceladasQtd}}</td>
                <td>{{resumo.canceladasValor}}</td>
            </tr>
        </tbody>
    </table>
</div>