<div  class="table-responsive-xl">        
    <div id="content">
    <table  class="table">
    <p style="font-weight: bold;">Periodo: {{periodo.nome}}</p>
    <small>Empresa: {{periodo.empresa}}</small><br>
    <small>Inicio: {{periodo.inicio}}</small><br>
    <small>Final: {{periodo.final}}</small><br>
    <hr>
        <thead class="table-dark">
            <tr>
                <th scope="col">Agencia</th>
                <th scope="col">Total Pago</th>
                <th scope="col">Total C Corrente</th>
                <th scope="col">Total A Cobrar</th> 
                <th scope="col">Total</th>                                                                                               
            </tr>
        </thead>
        {{#each dados}}
        <tbody>
            <tr>                                
                <td>{{agencia}}</td>
                <td>{{pgExib}}</td>
                <td>{{ccExib}}</td>
                <td>{{acExib}}</td>
                <td>{{totalexib}}</td>                                                      
            </tr>                                    
            </tbody>                                        
        {{else}}            
            <tbody>
                <tr>
                    <td>---</td>
                    <td>---</td>
                    <td>---</td>
                    <td>---</td>
                    <td>---</td>                               
                    </tr>                                    
                </tbody>  
        {{/each}}
            <tbody>
                <tr>
                    <td>Geral</td>
                    <td>{{TotalGpg}}</td>
                    <td>{{totalGcc}}</td>
                    <td>{{TotalGac}}</td>
                    <td>{{TotalG}}</td>                               
                    </tr>                                    
                </tbody>
        </table>
    </div>
        <button onclick="downloadPDF()" class="btn btn-secondary">Imprimir</button>
        <a href="/administracao/controle"><button class="btn btn-outline-secondary">Voltar</button></a> 
          
</div>