<div id="content" class="mt-4 p-3">
    <h5 style="font-weight: bold;">Periodo: {{periodo.nome}}</h5>
    <p>{{periodo.empresa.empresa}}</p>
    <small>Inicio: {{periodo.inicial}}</small><br>
    <small>Final: {{periodo.final}}</small><br>
    <small>Total Vendas: {{periodo.vendasT}}</small><br>
    <small>Total Comissão: {{periodo.comissaoT}}</small><br>
    <br>
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th scope="col">Status</th>
                <th scope="col">Quantidade</th>
                <th scope="col">Valor Total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="/periodos/dadosPeriododeControle/listar/1/{{periodo._id}}">Guias
                        Pagas</a></td>
                <td>{{resumo.pagasQtd}}</td>
                <td>{{resumo.pagasValor}}</td>
            </tr>
            <tr>
                <td><a href="/periodos/dadosPeriododeControle/listar/2/{{periodo._id}}">Guias
                        Pendentes</a>
                </td>
                <td>{{resumo.pendentesQtd}}</td>
                <td>{{resumo.pendentesValor}}</td>
            </tr>
            <tr>
                <td><a href="/periodos/dadosPeriododeControle/listar/3/{{periodo._id}}">Guias
                        Vencidas</a>
                </td>
                <td>{{resumo.vencidasQtd}}</td>
                <td>{{resumo.vencidasValor}}</td>
            </tr>
            <tr>
                <td><a href="/periodos/dadosPeriododeControle/listar/4/{{periodo._id}}">Guias
                        Canceladas</a>
                </td>
                <td>{{resumo.canceladasQtd}}</td>
                <td>{{resumo.canceladasValor}}</td>
            </tr>
            <tr>
                <td>Total</td>
                <td>{{resumo.qtdTotal}}</td>
                <td>{{resumo.total}}</td>
            </tr>
        </tbody>
    </table>
</div>

<button onclick="window.print()" class="btn btn-outline-success btn-sm ms-2">Imprimir</button><a
    href="/comissao/cargas/detalhado/{{periodo._id}}"><button
        class="btn btn-secondary btn-sm ms-2">Retornar</button></a>