{{#each sucessos}}
<div class="alert alert-success">{{texto}}</div>
{{else}}
{{/each}}
{{#each erros}}
<div class="alert alert-danger">{{texto}}</div>
{{else}}
{{/each}}

<div class="table-responsive-xl">

    <form action="/periodos/adicionar" method="post">

        <table class="table shadow">
            <h4>Abrir periodo de digitação</h4>
            <small>Para digitar infromações de documentos,Excesso de Bagagem e Prestação de Contas, dentro de um
                determinado mês, é necesario abriri periodo para que seja
                inserido documentos.</small>
            <hr>
            <thead class="table-secondary mt-2">
                <tr>
                    <th scope="col">Empresa</th>
                    <th scope="col">Mês</th>
                    <th scope="col">Ano</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>

                        <select name="empresa" class="form-select" id="floatingSelect2" aria-label="Agencia Destino"
                            required>
                            <option value="selecione">---Selecione---</option>
                            {{#each empresas}}
                            <option value="{{_id}}">{{empresa}}</option>
                            {{else}}
                            {{/each}}
                        </select>


                    </td>
                    <td>

                        <input type="number" class="form-control" name="mes" min="01" max="12" placeholder="00"
                            required>


                    </td>
                    <td>

                        <input type="number" class="form-control" min="2000" max="2999" name="ano" placeholder="0000"
                            required>


                    </td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-outline-success btn-sm" type="submit">Criar</button> <button
            class="btn btn-outline-secondary btn-sm" type="reset">Limpar</button>
    </form>
</div>

{{#if periodosAbertos}}
<div class="table-responsive-xl ">
    <form action="/periodos/encerrar" method="post">
        <table class="table shadow table-bordered">
            <hr>
            <p style="font-weight: bold;">Periodos Abertos</p>
            <thead class="table-secondary">
                <tr>
                    <th scope="col">Identificador</th>
                    <th scope="col">Empresa</th>
                    <th scope="col">Inicio</th>
                    <th scope="col">Fim</th>
                    <th scope="col">Status</th>
                    <th scope="col">#</th>
                </tr>
            </thead>
            {{#each periodosAbertos}}
            <tbody>
                <tr>
                    <td> <a href="/administracao/dadosPeriododeControle/{{_id}}">{{nome}}</a></td>
                    <td>{{empresa.empresa}}</td>
                    <td>{{dateExibInit}}</td>
                    <td>{{dateExibFin}}</td>
                    <td>{{status}}</td>
                    <th scope="row"><input type="checkbox" name="ident" value="{{_id}}"></th>
                </tr>
            </tbody>
            {{else}}
            {{/each}}
        </table>
        <button class="btn btn-outline-danger btn-sm" type="submit">Encerrar</button>
    </form>
</div>
{{else}}
{{/if}}

{{#if periodosFechados}}
<form action="/periodos/reabrir" method="post">
    <div class="table-responsive-xl">
        <table class="table">
            <hr>
            <p style="font-weight: bold;">Periodos Encerados</p>
            <thead class="table-dark">
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Empresa</th>
                    <th scope="col">Inicio</th>
                    <th scope="col">Fim</th>
                    <th scope="col">Status</th>
                    <th scope="col">-</th>
                </tr>
            </thead>
            {{#each periodosFechados}}
            <tbody>
                <tr>
                    <td> <a href="/administracao/dadosPeriododeControle/{{_id}}">{{nome}}</a></td>
                    <td>{{empresa.empresa}}</td>
                    <td>{{dateExibInit}}</td>
                    <td>{{dateExibFin}}</td>
                    <td>{{status}}</td>
                    <th scope="row"><input type="checkbox" name="ident" value="{{_id}}"></th>
                </tr>
            </tbody>
            {{else}}
            {{/each}}
        </table>
        <button class="btn btn-outline-success btn-sm" type="submit">Reabrir</button>
    </div>
</form>
{{else}}
{{/if}}

<br><br><br>