<h3>Guias do talão</h3>
<small>Numero: {{talao.numeroControle}}</small><br>
<small>Guia Inicial: {{talao.numeroInicial}}</small><br>
<small>Guia Final: {{talao.numeroFinal}}</small><br>
<small>Data de Cadastro: {{talao.date_exib}}</small><br>
<small>Agencia: {{talao.agencia.cidade}}</small>
<div class="table-responsive-xl fs-6 mt-4">
  <table class="table table-bordered">
    <thead class="table-dark">
      <tr>
        <th scope="col">Conhec.</th>
        <th scope="col">Origem</th>
        <th scope="col">Destino</th>
        <th scope="col">Cliente</th>
        <th scope="col">Empresa</th>
        <th scope="col">Entrada</th>
        <th scope="col">Vencimento</th>
        <th scope="col">Valor</th>
        <th scope="col">Forma Pagamento </th>
        <th scope="col">Staus Pagamento </th>
      </tr>
    </thead>
    {{#each dados}}
    <tbody>
      <tr>
        <th scope="row"><a href="/guias/selectEdit/{{_id}}">{{numero}}</a></th>
        <td>{{origem.cidade}}</td>
        <td>{{destino.cidade}}</td>
        <td>{{cliente.name_client}}</td>
        <td>{{empresa.empresa}}</td>
        <td>{{date_entrada}}</td>
        <td>{{date_pagamento}}</td>
        <td>{{valor_exib}}</td>
        <td>{{condPag}}</td>
        <td>{{statusPagamento}}</td>
      </tr>
    </tbody>
    {{else}}
    {{/each}}
  </table>

</div>
<a role="button" id="btn-export-csv" class="btn btn-secondary btn-sm mt-2">Exportar .CSV</a>
<a role="button" onclick="window.print()" class="btn btn-sm btn-outline-secondary mt-2">Imprimir</a>
<a role="button" class="btn btn-outline-secondary mt-2 btn-sm" id="backBtn">Voltar</a>

<script>
  document.getElementById("backBtn").addEventListener("click", function () {
    history.back();
  });
</script>
