{{#each error}}
<div class="alert alert-danger">{{text}}</div>
{{else}}
{{/each}}
<input type="hidden" id="total" value="{{newComissao.total}}">
<input type="hidden" id="qtdTotal" value="{{newComissao.qtdVendas}}">

<input type="hidden" id="cancel" value="{{newComissao.cancel}}">
<input type="hidden" id="qtdCancel" value="{{newComissao.qtdCancelado}}">

<input type="hidden" id="valid" value="{{newComissao.valid}}">
<input type="hidden" id="qtdValid" value="{{newComissao.qtdValidos}}">

<input type="hidden" id="comiss" value="{{newComissao.comiss}}">



<!--
    const total = document.getElementById('total').value
    const cancel = document.getElementById('cancel').value
    const valid = document.getElementById('valid').value
    const comiss = document.getElementById('comiss').value    

    const total = document.getElementById('total').value
    const qtdTotal = document.getElementById('qtdTotal').value
    const cancel = document.getElementById('cancel').value
    const qtdCancel = document.getElementById('qtdCancel').value

    const valid = document.getElementById('valid').value
    const qtdValid = document.getElementById('qtdValid').value

-->
<h5 class="mt-4">Comissão detalhada da agencia {{newComissao.agencia}}</h5>

<div class=" p-3">
    <table class="table table-bordered shadow mt-4">
        <tbody>
            <tr>
                <td>Periodo</td>
                <td>{{newComissao.periodo}}</td>
            </tr>
            <tr>
                <td>Empresa</td>
                <td>{{newComissao.empresa}}</td>
            </tr>
            <tr>
                <td>Valor Comissão</td>
                <td>{{newComissao.valor}}</td>
            </tr>
            <tr>
                <td>Total Vendas</td>
                <td>{{newComissao.totalVendas}}</td>
            </tr>
            <tr>
                <td>Qtd Vendas</td>
                <td>{{newComissao.qtdVendas}}</td>
            </tr>
            <tr>
                <td>Total Vendas Validas</td>
                <td>{{newComissao.totalValidas}}</td>
            </tr>
            <tr>
                <td>Qtd Vendas Validas</td>
                <td>{{newComissao.qtdValidos}}</td>
            </tr>
            <tr>
                <td>Total Cancelados</td>
                <td>{{newComissao.totalCancelado}}</td>
            </tr>
            <tr>
                <td>Qtd Cancelados</td>
                <td>{{newComissao.qtdCancelado}}</td>
            </tr>

        </tbody>
    </table>
</div>

{{>_graficoComiss}}

<br>


<button class="btn btn-outline-success btn-sm" onclick="window.print()">Imprimir</button> <a
    href="/comissao/cargas"><button class="btn btn-outline-secondary ms-2 btn-sm">Retornar</button></a>

<br><br>