{{#each error}}
<div class="alert alert-danger">{{texto}}</div>
{{else}}
{{/each}}

<div class="table-responsive-xl">

        <form action="/comissao/calcular">
            <table class="table">
                <p style="font-weight: bold;" >Calcular Comissão do periodo</p>
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Empresa</th>
                        <th scope="col">Mês</th>
                        <th scope="col">Ano</th>                                                        
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>                                
                        <div class="form-floating">
                            <select name="empresa" class="form-select" id="floatingSelect2" aria-label="Empresa" required>
                                <option value="selecione">---Selecione---</option>
                                <option value="REGIONAL">REGIONAL</option>
                                <option value="JAUA">JAUA</option>
                            </select>
                            <label for="floatingSelect">Empresa</label>
                        </div>
                        </td>
                        <td>
                            <div class="form-floating mb-3">
                            <input type="number" class="form-control" name="mes" min="01" max="12" placeholder="00" required>
                            <label for="floatingInput">Mês</label>
                            </div>
                        </td>
                        <td>
                            <div class="form-floating mb-3">
                            <input type="number" class="form-control" min="2000" max="2999" name="ano" placeholder="0000" required>
                            <label for="floatingInput">Ano</label>
                            </div>
                        </td>
                    </tr>                                    
                </tbody>
            </table>
            <button class="btn btn-secondary" type="submit">Calcular</button> <button class="btn btn-outline-secondary" type="reset">Limpar</button>
        </form>
</div>

{{#if periodos}} 
<div class="table-responsive-xl">        
    <form action="/comissao/excluir">
        <table class="table">
            <hr>
            <p style="font-weight: bold;">Comissões Calculadas</p>
            <thead class="table-dark">
                <tr>                               
                    <th scope="col">Periodo</th>
                    <th scope="col">Inicio</th>
                    <th scope="col">Fim</th> 
                    <th scope="col">Total</th>
                    <th scope="col">-</th>                                                                                                                                                              
                </tr>
            </thead>
          
            {{#each periodos}}
            <tbody>
                <tr>                                
                    <td>{{nome}}</td>                                
                    <td>{{dInitExib}}</td>
                    <td>{{dtFimExib}}</td>
                    <td>{{totalExib}}</td>                    
                    <td><input type="checkbox" name="perido" ></td>
                </tr>                                    
            </tbody>                                        
            {{else}}
            {{/each}}
                        
        </table>    
        <button class="btn btn-outline-danger" type="submit">Excluir</button> 
        </form>
    </div>
</div>
{{else}}
{{/if}}