<div style="padding: ;">
{{#each erro}}
    <div class="alert alert-danger">{{text}}</div>
{{else}}
{{/each}}
<form action="/guias/adicionar" method="POST" >
  <h3>Adicionar Guias</h3>
<div class="table-responsive-xl">
  <table class="table">
    <thead class="table-dark">
      <tr>
        <th scope="col">Conhecimento</th>
        <th scope="col">Origem</th>
        <th scope="col">Destino</th>
        <th scope="col">Cliente</th>
        <th scope="col">Empresa</th>      
      </tr>
    </thead>  
    <tbody>
      <tr>
        <td>
          <div class="form-floating mb-3">
          <input type="number" class="form-control" name="numero" placeholder="Valor da Guia">
          <label for="floatingInput">Numero Conhecimento</label>
          </div>
        </td>
        <td>
          <div class="form-floating">
          <select name="origem" class="form-select" id="floatingSelect" aria-label="Agencia Origem">        
            <option value="selecione">---Selecione---</option>
            {{#each agencias}}
            <option value="{{cidade}}">{{cidade}}-{{uf}}</option>
            {{else}}
            {{/each}}                              
          </select>
          <label for="floatingSelect">Agencia Origem</label> 
          </div>
        </td>
        <td>
          <div class="form-floating">
          <select name="destino" class="form-select" id="floatingSelect2" aria-label="Agencia Destino">        
            <option value="selecione">---Selecione---</option>         
            {{#each agencias}}
            <option value="{{cidade}}">{{cidade}}-{{uf}}</option>
            {{else}}
            {{/each}}                                
          </select> 
          <label for="floatingSelect2">Agencia de Destino</label>
          </div>
        </td>
        <td>
          <div class="form-floating mb-3">
          <input type="text" name="cliente" class="form-control" id="floatingInput" placeholder="Cliente">
          <label for="floatingInput">Cliente</label>
          </div>
        </td>
        <td>
          <div class="form-floating">
          <select name="empresa" class="form-select" id="floatingSelect2" aria-label="Agencia Destino">
            <option value="selecione">---Selecione---</option>
            <option value="REGIONAL">REGIONAL</option>
            <option value="JAUA">JAUA</option>
          </select>
          <label for="floatingSelect">Empresa</label>
          </div>
        </td>      
      </tr>          
    </tbody> 
  </table>
  <table class="table">
    <thead class="table-dark">
      <tr>      
        <th scope="col">Entrada</th>
        <th scope="col">Pagamento</th>
        <th scope="col">Valor</th>
        <th scope="col">Cond Pagamento </th>
        <th scope="col">--</th>
      </tr>
    </thead> 
    <tbody>
      <tr>      
        <td><input type="date" class="form-control" name="dateEntrada"></td>
        <td><input type="date" class="form-control" name="datePagamento"></td>
        <td>
          <div class="input-group mb-3">
          <span class="input-group-text">R$</span>
          <span class="input-group-text">0.00</span>
          <input name="valor" type="number" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
        </div>
    </td>
        <td>
          <select name="statusPagamento" class="form-select" required>
            <option value="selecione">---Selecione---</option>
            <option value="PAGO">PAGO</option>
            <option value="A COBRAR">A COBRAR</option>
            <option value="CONTA CORRENTE">CONTA CORRENTE</option>
            <option value="CONTA CORRENTE">CANCELADO</option>
          </select>
        </td>
        <td><input type="checkbox" name="baixa" value="true">Baixa Automatica</td>
      </tr>          
    </tbody>
  </table>
</div>

  <button class="btn btn-secondary" type="submit">Gravar</button>
  <button class="btn btn-outline-secondary" type="reset">Limpar</button>
</form>
<hr>
<h3>Ultimas Guias Adicionadas</h3>
<div class="table-responsive-xl">  
    <table class="table table-bordered fs-6">
      <thead class="table-dark">
        <tr>
          <th scope="col">Conhec.</th>
          <th scope="col">Origem</th>
          <th scope="col">Destino</th>
          <th scope="col">Cliente</th>
          <th scope="col">Empresa</th>
          <th scope="col">Entrada</th>
          <th scope="col">Pagamento</th>
          <th scope="col">Valor</th>
          <th scope="col">Status</th>
          <th scope="col">Baixa</th>
          <th scope="col">#</th>
        </tr>
      </thead>
      <form action="/administracao/guias/excluir" method="post">
      {{#each guias}}   
      <tbody>
        <tr>
          <th scope="row"><a href="/guias/selectEdit/{{_id}}">{{numero}}</a></th>
          <td>{{origem}}</td>
          <td>{{destino}}</td>
          <td>{{cliente}}</td>
          <td>{{empresa}}</td>
          <td>{{date_entrada}}</td>
          <td>{{date_pagamento}}</td>
          <td>{{valor}}</td>
          <td>{{statusPag}}</td>
          <td>{{statusBaixa}}</td>          
          <td><input type="checkbox" name="ident" value="{{_id}}"></td>
        </tr>    
      </tbody>  
      {{else}}
      {{/each}}
    </table>
    <button class="btn btn-sm btn-outline-danger" type="submit">Excluir Selecionados</button>
  </form>
</div>
</div>