{{#each erro}}
<div class="alert alert-danger">{{text}}</div>
{{else}}
{{/each}}

<div class="container">
  {{#if user.eAdmin}}
  <h3>Editar guia</h3>
  <small style="font-weight: bold;">Ultima Alteração</small><br>
  <small>Usuario: {{guia.user.nome}}</small><br>
  <small>Data hora: {{guia.date_exib}}</small>
  {{else}}
  {{/if}}
  <form action="/guias/editar" method="POST" class="mt-3" onsubmit="confirmEdditParams(event, this)">
    <input type="hidden" name="id" value="{{guia._id}}">
    <input type="hidden" name="user" value="{{user._id}}">
    <div class="table-responsive-xl">
      <table class="table">
        <thead class="table-secondary">
          <tr>
            <th scope="col">Conhecimento</th>
            <th scope="col">Origem</th>
            <th scope="col">Destino</th>
            <th scope="col">Cliente</th>
            <th scope="col">Empresa</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>
              <div class="form-floating mb-3">
                <input type="number" value="{{guia.numero}}" class="form-control" name="numero"
                  placeholder="Valor da Guia" disabled>
                <label for="floatingInput">Numero Conhecimento</label>
              </div>
            </td>
            <td>
              <div class="form-floating">
                <select name="origem" class="form-select" id="floatingSelect" aria-label="Agencia Origem" {{#if
                  guia.datePagamento}}disabled{{else}}{{/if}}>
                  <option value={{guia.origem._id}}>{{guia.origem.cidade}}</option>
                  <hr>
                  {{#each agencias}}
                  <option value="{{_id}}">{{cidade}}</option>
                  {{else}}
                  {{/each}}
                </select>
                <label for="floatingSelect">Agencia Origem</label>
              </div>
            </td>
            <td>
              <div class="form-floating">
                <select name="destino" class="form-select" id="floatingSelect2" aria-label="Agencia Destino" {{#if
                  guia.datePagamento}}disabled{{else}}{{/if}}>
                  <option value={{guia.destino._id}}>{{guia.destino.cidade}}</option>
                  {{#each agencias}}
                  <option value="{{_id}}">{{cidade}}</option>
                  {{else}}
                  {{/each}}
                </select>
                <label for="floatingSelect2">Agencia de Destino</label>
              </div>
            </td>
            <td>
              <div class="form-floating">
                <select name="cliente" class="form-select" id="floatingSelect2" aria-label="Cliente" {{#if
                  guia.datePagamento}}disabled{{else}}{{/if}}>
                  <option value="{{guia.cliente._id}}">{{guia.cliente.name_client}}</option>
                  {{#each clientes}}
                  <option value="{{_id}}">{{name_client}}</option>
                  {{else}}
                  {{/each}}
                </select>
                <label for="floatingSelect">Cliente</label>
              </div>
            </td>
            <td>
              <div class="form-floating">
                <select name="empresa" class="form-select" id="floatingSelect2" aria-label="Agencia Destino" {{#if
                  guia.datePagamento}}disabled{{else}}{{/if}}>
                  <option value="{{guia.empresa._id}}">{{guia.empresa.empresa}}</option>
                  {{#each empresas}}
                  <option value="{{_id}}">{{empresa}}</option>
                  {{else}}
                  {{/each}}
                </select>
                <label for="floatingSelect">Empresa</label>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <table class="table">
        <thead class="table-secondary">
          <tr>
            <th scope="col">Entrada</th>
            <th scope="col">Vencimento</th>
            <th scope="col">Valor</th>
            <th scope="col">Cond Pagamento</th>
            <th scope="col">Nº Fatura</th>
            <th scope="col">Status Pag</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td><input type="date" value="{{guia.date_entrada}}" class="form-control" name="dateEntrada" {{#if
                guia.datePagamento}}disabled{{else}}{{/if}}></td>
            <td><input type="date" value="{{guia.date_vencimento}}" class="form-control" name="vencimento" {{#if
                guia.datePagamento}}disabled{{else}}{{/if}}></td>
            <td>
              <div class="input-group mb-3">
                <span class="input-group-text">R$</span>
                <span class="input-group-text">0.00</span>
                <input name="valor" step="any" value="{{guia.valor}}" type="number" class="form-control"
                  aria-label="Dollar amount (with dot and two decimal places)" required {{#if
                  guia.datePagamento}}disabled{{else}}{{/if}}>
              </div>
            </td>
            <td>
              <select name="condPag" class="form-select" required {{#if guia.datePagamento}}disabled{{else}}{{/if}}>
                <option value="{{guia.condPag}}">{{guia.condPag}}</option>
                <option value="A VISTA">A VISTA</option>
                <option value="A COBRAR">A COBRAR</option>
                <option value="FATURADO">FATURADO</option>
                <option value="CANCELADO">CANCELADO</option>
              </select>
            </td>
            <td><input type="number" name="n_fatura" class="form-control" value="{{guia.n_fatura}}" {{#if
                guia.datePagamento}}disabled{{else}}{{/if}}></td>
            <td>{{guia.statusBaixa}}</td>
          </tr>
        </tbody>
      </table>
      <button class="btn btn-secondary btn-sm" type="submit" {{#if guia.datePagamento}}disabled{{else}}{{/if}}>Alterar
        dados da
        guia</button>
  </form>

  <form action="/guias/atualizar_entrega" method="post" onsubmit="confirmEdditParams(event, this)">
    <input type="hidden" name="id" value="{{guia._id}}">
    <input type="hidden" name="user" value="{{user._id}}">
    <div class="mt-2">
      <h4>Status da Entrega</h4>
      <select name="status_entrega" class="form-select" id="status_entrega" {{#if
        guia.dateEntrega}}disabled{{else}}{{/if}}>
        <option value="{{guia.entrega}}">{{guia.entrega}}</option>
        <option value="NA ORIGEM PARA ENVIO">NA ORIGEM PARA ENVIO</option>
        <option value="EM ROTA PARA DESTINO">EM ROTA PARA DESTINO</option>
        <option value="NO DESTINO">NO DESTINO</option>
        <option value="ENTREGUE AO DESTINATARIO">ENTREGUE AO DESTINATARIO</option>
        <option value="EM ROTA PARA ORIGEM">EM ROTA PARA ORIGEM</option>
        <option value="NA ORIGEM PARA DEVOLUCAO">NA ORIGEM PARA DEVOLUCAO</option>
        <option value="DEVOLVIDO AO REMETENTE">DEVOLVIDO AO REMETENTE</option>
      </select>
    </div>
    <label for="recebedor">Entregue á:</label>
    <input type="text" name="recebedor" class="form-control" value="{{guia.recebedor}}" id="course" {{#if
      guia.dateEntrega}}disabled{{else}} {{/if}}>
    <label for="cpfRecebedor">Documento de Identificação:</label>
    <input type="number" name="cpfRecebedor" class="form-control" value="{{guia.cpfRecebedor}}" id="course" {{#if
      guia.dateEntrega}}disabled{{else}} {{/if}}>
    {{#if guia.dateEntrega}}
    <small>Data de Entrega: {{guia.date_entrega}}</small><br>
    <small>Confirmada entrega por: {{guia.user_conf_entr.nome}}</small><br>
    {{else}}
    {{/if}}
    <button type="submit" class="btn btn-outline-success btn-sm mt-2" {{#if
      guia.dateEntrega}}disabled{{else}}{{/if}}>Atualizar status
    </button>
  </form><br>
  <h5>Atualizações</h5>
  <div class="card">
    <div class="card-body">
      {{#each guia.acompanhamento}}
      <p>{{dateExib}} - {{dados}}</p>
      {{else}}
      {{/each}}
    </div>
  </div><br>

  {{#if guia.datePagamento}}

  <h4>Informar Pagamento</h4>
  <table class="table mt-4">
    <thead class="table-secondary">
      <tr>
        <th scope="col">Data Pagamento</th>
        <th scope="col">Forma de Pagamento</th>
        <th scope="col">Status de Baixa</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{guia.date_pagamento}}</td>
        <td>{{guia.formaPag}}</td>
        <td>{{guia.baixaExib}}</td>
      </tr>
    </tbody>
  </table>
  <p>Pagamento Confirmado por: </p>
  <p>{{guia.user_conf_pag.nome}}</p>
  {{else}}

  <h4>Informar Pagamento</h4>
  <form action="/guias/informar_pagamento_guia" method="post" onsubmit="confirmBaixa(event,this)">
    <input type="hidden" name="ident" value="{{guia._id}}">
    <input type="hidden" name="date_entrada" value="{{guia.date_entrada}}">
    <table class="table">
      <thead class="table-secondary">
        <tr>
          <th scope="col">Data Pagamento</th>
          <th scope="col">Forma de Pagamento</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input type="date" name="date_pagamento" id="" class="form-control" required></td>
          <td>
            <select name="formaPag" class="form-select" id="floatingSelect" aria-label="Forma de Pagamento">
              <option value="selecione">---Selecione---</option>
              <option value="DINHEIRO">DINHEIRO</option>
              <option value="BOLETO FATURA">BOLETO FATURA</option>
              <option value="TRANSFERENCIA ELETRONICA">TRANSFERENCIA ELETRONICA</option>
              <option value="DINHEIRO">DINHEIRO</option>
              <option value="CANCELADO">CANCELADO</option>
            </select>
          </td>
        </tr>
      </tbody>
    </table>

    <button type="submit" class="btn btn-secondary btn-sm">Informar Pagamento</button>
  </form>

  {{/if}}
  <hr>
  <small>Somente administradores podem excluir guias baixadas.</small><br>

  <div style="display: flex;">

    <form action="/administracao/guias/exclusao" method="get" onsubmit="confirmDell(event, this)">
      <input type="hidden" name="ident" value="{{guia._id}}">
      <button type="submit" class="btn btn-outline-danger btn-sm mt-2 ">Excluir</button>
    </form>

    <a href="/guias" class="btn btn-outline-success btn-sm mt-2 ms-2 " role="button" aria-pressed="true">Retornar</a>

    <a role="button" class="btn btn-outline-secondary btn-sm mt-2 ms-2" onclick="window.print()">Imprimir</a>

  </div>

</div>

<br><br>