<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Guias Pendentes Regional</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Guias pendentes Jaua</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Balanço Regional</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="disabled-tab" data-bs-toggle="tab" data-bs-target="#disabled-tab-pane" type="button" role="tab" aria-controls="disabled-tab-pane" aria-selected="false" >Balanço Jaua</button>
  </li>
</ul>

<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
      <h3 class="mt-4">Viação Regional</h3>
      <p>Total Pendente: {{totalReg}} </p>
    <div class="table-responsive-xl ">  
      <table class="table table-bordered fs-6">
          <thead class="table-dark">
            <tr>
              <th scope="col">Nº</th>
              <th scope="col">Origem</th>
              <th scope="col">Destino</th>
              <th scope="col">Cliente</th>
              <th scope="col">Empresa</th>
              <th scope="col">Entrada</th>
              <th scope="col">Pagamento</th>
              <th scope="col">Valor</th>
              <th scope="col">Status </th>
              <th scope="col">#</th>
            </tr>
          </thead>
          
          {{#each guiReg}}   
          <tbody>
            <tr>
              <th scope="row"><a href="/guias/selectEdit/{{_id}}">{{numero}}</a></th>
              <td>{{origem}}</td>
              <td>{{destino}}</td>
              <td>{{cliente}}</td>
              <td>{{empresa}}</td>
              <td>{{date_entrada}}</td>
              <td>{{date_pagamento}}</td>
              <td>{{valor_exib}}</td>
              <td>{{statusPag}}</td>
              <form action="/guias/excluir" method="get"></form>
              <td><input type="checkbox" name="id" value="{{_id}}"></td>
            </tr>    
          </tbody>  
          {{else}}
          <tbody>
            <p>Não existem guias pendentes de pagamento</p>
          </tbody>
          
          {{/each}}
        </table>
        <button class="btn btn-sm btn-outline-danger" type="submit">Excluir Selecionados</button>
      </form>
    </div>

  </div>

  <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
    <h3 class="mt-4">Viação Jaua</h3>
    <p>Total Pendente: {{totalJau}} </p>
    <div class="table-responsive-xl fs-6">  
      <table class="table table-bordered">
          <thead class="table-dark">
            <tr>
              <th scope="col">Nº</th>
              <th scope="col">Origem</th>
              <th scope="col">Destino</th>
              <th scope="col">Cliente</th>
              <th scope="col">Empresa</th>
              <th scope="col">Entrada</th>
              <th scope="col">Pagamento</th>
              <th scope="col">Valor</th>
              <th scope="col">Status </th>
              <th scope="col">#</th>
            </tr>
          </thead>
          <form action="/administracao/guias/excluir" method="get"></form>
          {{#each guiJau}}   
          <tbody>
            <tr>
              <th scope="row"><a href="/guias/selectEdit/{{_id}}">{{numero}}</a></th>
              <td>{{origem}}</td>
              <td>{{destino}}</td>
              <td>{{cliente}}</td>
              <td>{{empresa}}</td>
              <td>{{date_entrada}}</td>
              <td>{{date_pagamento}}</td>
              <td>{{valor_exib}}</td>
              <td>{{statusPag}}</td>              
              <td><input type="checkbox" name="id" value="{{_id}}"></td>
            </tr>    
          </tbody>  
          {{else}}
          <tbody>
            <p>Não existem guias pendentes de pagamento</p>
          </tbody>
          
          {{/each}}
        </table>
        <button class="btn btn-sm btn-outline-danger" type="submit">Excluir Selecionados</button>
      </form>
    </div>
  </div>
  <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">...</div>
  <div class="tab-pane fade" id="disabled-tab-pane" role="tabpanel" aria-labelledby="disabled-tab" tabindex="0">...</div>
</div>