{{>_topNavbar}}

{{#if guiasGe}}
<div class="d-flex justify-content-between mb-3 mt-5">
  <!-- Div Coluna 1-->
  <div class="card shadow">
    <div class="card-header">
      <h4>Guias "A COBRAR" com pagamento pendente</h4>
    </div>
    <div class="p-2 card-body">
      <table class="table ">
        <thead>
          <tr class="fs-6 fst-normal">
            <th scope="col">Número</th>
            <th scope="col">Origem</th>
            <th scope="col">Vencimento</th>
            <th scope="col">Valor</th>
            <th scope="col">Cond Pag</th>
            <th scope="col">Sts Pagamento</th>
          </tr>
        </thead>
        <tbody>
          {{#each guiasAc}}
          <tr class="fs-6 fst-normal">
            <th scope="row"><a href="/guias/selectEdit/{{_id}}">{{numero}}</a></th>
            <td>{{origem.cidade}}</td>
            <td>{{date_vencimento}}</td>
            <td>{{valorExib}}</td>
            <td>{{condPag}}</td>
            <td>{{statusBaixa}}</td>
          </tr>
          {{else}}
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
  <!-- Div Coluna 2-->
  <div class="card shadow">
    <div class="card-header">
      <h4>Entregas de Encomendas</h4>
    </div>
    <div class="p-2 card-body">
      <div class="table-responsive-xl fs-6">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Número</th>
              <th scope="col">Origem</th>
              <th scope="col">Cliente</th>
              <th scope="col">Status Entrega</th>
            </tr>
          </thead>
          <tbody>
            {{#each guiasGe}}
            <tr>
              <th scope="row"><a href="/guias/selectEdit/{{_id}}">{{numero}}</a></th>
              <td>{{origem.cidade}}</td>
              <td>{{cliente.name_client}}</td>
              <td>{{entrega}}</td>
            </tr>
            {{else}}
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{{else}}
{{/if}}

{{#if guiasFin}}
<div class="card shadow mt-5">
  <div class="card-header">
    <h4>Guias Pendentes</h4>
  </div>
  <div class="p-2 card-body">
    <div class="table-responsive-xl fs-6">
      <table class="table ">
        <thead>
          <tr>
            <th scope="col">Número</th>
            <th scope="col">Origem</th>
            <th scope="col">Destino</th>
            <th scope="col">Vencimento</th>
            <th scope="col">Valor</th>
            <th scope="col">Cond Pag</th>
            <th scope="col">Sts Pagamento</th>
            <th scope="col">Entrega</th>

          </tr>
        </thead>
        <tbody>
          {{#each guiasFin}}
          <tr>
            <th scope="row"><a href="/guias/selectEdit/{{_id}}">{{numero}}</a></th>
            <td>{{origem.cidade}}</td>
            <td>{{destino.cidade}}</td>
            <td>{{date_vencimento}}</td>
            <td>{{valorExib}}</td>
            <td>{{condPag}}</td>
            <td>{{statusBaixa}}</td>
            <td>{{entrega}}</td>

          </tr>
          {{else}}
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>
{{else}}
{{/if}}