<div class="card shadow mt-2" id="content">

    <h4 class="mt-2 ms-2">Pendencias das Agencias</h4>
    <small class="ms-2">Quantidade: {{titulo.qtd_guias}}</small>
    <small class="ms-2">Total: {{titulo.totalExib}}</small>
    <div class="p-2 card-body" id='card' style="overflow-y: scroll; height: 450px;">
        <div class="table-responsive ">
            <table class="table table-bordered">
                <thead class="table-secondary">
                    <tr>
                        <th scope="col">Agencia</th>
                        <th scope="col">Quantidade</th>
                        <th scope="col">Valor</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each dados}}
                    <tr>
                        <th scope="row"><a href="/guias/pendencias_da_agencia/{{agenciaId}}">{{agencia}}</a></th>
                        <td>{{pendentes}}</td>
                        <td>{{valorExib}}</td>

                        {{else}}
                        {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>

<button class="btn btn-outline-secondary btn-sm mt-2" onclick="window.print()">Imprimir</button>
<button class="btn btn-outline-secondary btn-sm mt-2" onclick="downloadPDF()">Salvar</button>