{{>_topNavbar}}
<div class="d-flex flex-column mb-3" style="align-items: center;">
    <div>
        <h5>Movimentação do mês atual</h5>
    </div>
    <div>
        {{>_graficoAgencia}}

    </div>

</div>
<br><br>
<!--
<h5 class="ms-4">Controles de Execessos</h5>


<div class=" card mb-3 mt-2 shadow">
    
    <div class="card-body d-flex justify-content-between ">
        <div class="p-2 card-body" style="overflow-y: scroll; max-height: 450px">
            <h6>Enviados com pendencia de Entrega</h6>
            <table class="table table-bordered ">
                <thead class="table-secondary">
                    <tr class="fs-6 fst-normal">
                        <th scope="col">Número</th>
                        <th scope="col">Destino</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Status Entrega</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each guiasRem}}
                    <tr class="fs-6 fst-normal">
                        <th scope="row"><a href="/guias/selectEdit/{{_id}}">{{numero}}</a></th>
                        <td>{{destino.cidade}}</td>
                        <td><a href="/consultas/guias_do_cliente?cliente={{cliente._id}}">{{cliente.name_client}}</a>
                        </td>
                        <td>{{entrega}}</td>
                    </tr>
                    {{else}}
                    {{/each}}
                </tbody>
            </table>
        </div>

        <div class="p-2 card-body" style="overflow-y: scroll; max-height: 450px">
            <h6>Recebidos ou a Caminho com pendencia de Entrega</h6>
            <div class="table-responsive-xl fs-6">
                <table class="table table-bordered">
                    <thead class="table-secondary">
                        <tr>
                            <th scope="col">Número</th>
                            <th scope="col">Origem</th>
                            <th scope="col">Cliente</th>
                            <th scope="col">Data Envio</th>
                            <th scope="col">Status Entrega</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each guiasDest}}
                        <tr>
                            <th scope="row"><a href="/guias/selectEdit/{{_id}}">{{numero}}</a></th>
                            <td>{{origem.cidade}}</td>
                            <td><a
                                    href="/consultas/guias_do_cliente?cliente={{cliente._id}}">{{cliente.name_client}}</a>
                            </td>
                            <td>{{entrega}}</td>
                        </tr>
                        {{else}}
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

-->

<div class="card shadow" style="overflow-y: scroll; height: 450px">
    <div class="card-header">
        <h5>Guias "A COBRAR" com pagamento pendente</h5>
    </div>
    <div class="p-2 card-body">
        <table class="table ">
            <thead>
                <tr class="fs-6 fst-normal">
                    <th scope="col">Número</th>
                    <th scope="col">Origem</th>
                    <th scope="col">Vencimento</th>
                    <th scope="col">Valor</th>
                    <th scope="col">Cliente</th>
                    <th scope="col">Cond Pag</th>
                    <th scope="col">Sts Pagamento</th>
                </tr>
            </thead>
            <tbody>
                {{#each guiasAc}}
                <tr class="fs-6 fst-normal">
                    <th scope="row"><a href="/guias/selectEdit/{{_id}}">{{numero}}</a></th>
                    <td>{{origem.cidade}}</td>
                    <td>{{date_vencimento}}</td>
                    <td>{{valorExib}}</td>
                    <td><a href="/consultas/guias_do_cliente?cliente={{cliente._id}}">{{cliente.name_client}}</a>
                    </td>
                    <td>{{condPag}}</td>
                    <td>{{statusBaixa}}</td>
                </tr>
                {{else}}
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
<br><br>