<form action="/consultas/comissao/pesquisar" method="POST" >
  <h3>Comissão por periodo por empresa</h3>
    <div class="table-responsive-xl">
    <table class="table">
        <thead class="table-dark">
        <tr>
            <th scope="col">Agencia</th>
            <th scope="col">Data Inicial</th>
            <th scope="col">Data Final</th>      
        </tr>
        </thead>  
        
            <tbody>
            <td>
            <div class="form-floating">
            <select name="empresa" class="form-select" id="floatingSelect2" aria-label="empresa">
                <option value="selecione">---Selecione---</option>
                <option value="REGIONAL">REGIONAL</option>
                <option value="JAUA">JAUA</option>
            </select>
            <label for="floatingSelect">Empresa</label>
            </div>
            </td>
            <td><input type="date" class="form-control" name="dateMin"></td>
            <td><input type="date" class="form-control" name="dateMax"></td>      
        </tr>          
        </tbody> 
    </table>
    <button type="submit" class="btn btn-outline-success">Buscar</button>
</form>
<hr>
{{#each dadosAgenc}} 
<div class="table-responsive-xl fs-6">  
      <table class="table table-bordered">
          <thead class="table-dark">
            <tr>
              <th scope="col">Agencia</th>
              <th scope="col">Conta Corrente</th>
              <th scope="col">A Cobrar</th>
              <th scope="col">Pago</th>
              <th scope="col">Total</th>              
            </tr>
          </thead>
          <tbody>              
              <td>{{agencia}}</td>
              <td>{{cc}}</td>
              <td>{{ac}}</td>
              <td>{{pg}}</td>
              <td>{{total}}</td>
            </tr>    
          </tbody>  
          {{else}}                    
          {{/each}}
        </table>