<h5>Periodos</h5>
<small>Quantidade: {{title.qtd}}</small><br>
<small>Abertos: {{title.qtdAbertos}}</small><br>
<small>Fechados: {{title.qtdFechados}}</small><br>
<hr>

<div class="table-responsive-xl fs-6 mt-4 shadow" id="content">
  <div style="overflow-y: scroll; max-height: 400px;">
    <table class="table table-bordered shadow">
      <thead class="table-secondary">
        <tr>
          <th scope="col">Periodo</th>
          <th scope="col">Data Inicial</th>
          <th scope="col">Data Final</th>
          <th scope="col">Digitação</th>
        </tr>
      </thead>
      {{#each periodos}}
      <tbody>
        <tr>
          <td><a href="/periodos/dadosPeriododeControle/{{_id}}">{{nome}}</a></td>
          <td>{{inicial}}</td>
          <td>{{final}}</td>
          <td>{{status}}</td>
        </tr>
      </tbody>
      {{else}}
      {{/each}}
    </table>
  </div>
</div>
<br><br>