{{#each error}}
<div class="alert alert-danger">{{texto}}</div>
{{else}}
{{/each}}
<h5>Guias do Cliente</h5>
<div class="shadow p-2 mt-4">
    <h6>Dados do Cliente</h6>
    <small>Nome: {{clienteExib.name_client}}</small><br>
    <small>{{clienteExib.tipo_doc}}: {{clienteExib.documento}}</small><br>
    <small>Contato: {{clienteExib.contato}}</small><br>
    <small>Fatura: {{clienteExib.fatura}}</small><br>
</div>

<form class="shadow p-2 mt-4" action="/consultas/guias_do_cliente/filtrar" method="get">
    <h6>Buscar por periodo</h6>
    <small>Considera a data de entrada</small>
    <div class="table-responsive-xl">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Cliente</th>
                    <th scope="col">Data Inicial</th>
                    <th scope="col">Data Final</th>
                </tr>
            </thead>

            <tbody>
                <td>
                    <p>{{clienteExib.name_client}}</p> <input type="hidden" name="cliente" value="{{clienteExib._id}}">
                </td>
                <td><input type="date" class="form-control" name="dateMin"></td>
                <td><input type="date" class="form-control" name="dateMax"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <button type="submit" class="btn btn-outline-success btn-sm">Buscar</button>

</form>

<form action="/administracao/guias/excluir" method="post" class="mt-4">
    <div class="table-responsive-xl fs-6 shadow p-2">
        <h6>Guias Encontradas</h6>
        <div style="max-height: 400px;overflow-y: scroll;">
            <table class="table table-bordered">
                <thead class="table-dark ">
                    <tr class="fs-6">
                        <th scope="col">Conh.</th>
                        <th scope="col">Origem</th>
                        <th scope="col">Destino</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Empresa</th>
                        <th scope="col">Entrada</th>
                        <th scope="col">Vencimento</th>
                        <th scope="col">Valor</th>
                        <th scope="col">Entrega </th>
                        <th scope="col">Pagamento </th>
                        <th scope="col">#</th>
                    </tr>
                </thead>
                {{#each dados}}
                <tbody>
                    <tr class="fs-6 fst-normal">
                        <th scope="row"><a href="/guias/selectEdit/{{_id}}">{{numero}}</a></th>
                        <td>{{origem.cidade}}</td>
                        <td>{{destino.cidade}}</td>
                        <td>{{cliente.name_client}}</td>
                        <td>{{empresa.empresa}}</td>
                        <td>{{date_entrada}}</td>
                        <td>{{date_vencimento}}</td>
                        <td>{{valorExib}}</td>
                        <td>{{statusEntrega}}</td>
                        <td>{{statusBaixa}}</td>
                        <td><input type="checkbox" name="ident" value="{{_id}}"></td>
                    </tr>
                </tbody>
                {{else}}
                {{/each}}
            </table>
        </div>
        <button class="btn btn-sm btn-outline-danger mt-2" type="submit">Excluir Selecionados</button>
</form>
</div>

<br><br>