{{#each error}}
<div class="alert alert-danger">{{texto}}</div>
{{else}}
{{/each}}

<form action="/consultas/por_agencia/pesquisar" method="get">
  <h3>Buscar por status de pagamento</h3>
  <div class="table-responsive-xl  ">
    <table class="table shadow p-2">
      <thead class="table-secondary">
        <tr>
          <th scope="col">Agencia</th>
          <th scope="col">Pagamento</th>
          <th scope="col">Data Inicial</th>
          <th scope="col">Data Final</th>
        </tr>
      </thead>
      <tbody>
        <td>
          <select name="agencia" class="form-select" id="floatingSelect2" aria-label="agencia" required>
            <option value="selecione">---Selecione---</option>
            <option value="1">Todas</option>
            {{#each agencias}}
            <option value="{{_id}}">{{numero}} - {{cidade}}</option>
            {{else}}
            {{/each}}
          </select>
        </td>
        <td>
          <select name="status" class="form-select" id="floatingSelect2" aria-label="agencia" required>
            <option value="1">Todas</option>
            <option value="2">Pagas</option>
            <option value="3">Pendente</option>
            <option value="4">Vencidas</option>
            <option value="5">Canceladas</option>

          </select>
        </td>
        <td><input type="date" class="form-control" name="dateMin" required></td>
        <td><input type="date" class="form-control" name="dateMax" required></td>
        </tr>
      </tbody>
    </table>
  </div>
  <button type="submit" class="btn btn-outline-success btn-sm">Buscar</button>

</form>
<hr>
<form action="/guias/baixar_em_lote" method="get" onsubmit="confirmBaixa(event, this)">
  {{#if title}}
  <div class="mt-4">
    <h5>{{title.agencia}}</h5>
    <p>Quantidade: {{title.qtd_vendas}} </p>
    <p>Total: {{title.totalVendasExib}}</p>
  </div>
  {{else}}
  {{/if}}
  <div class="table-responsive-xl fs-6 mt-4">
    <div style="overflow-y: scroll;max-height: 450px;">
      <table data-js="table" class="table table-bordered shadow">

        <thead class="table-dark  ">
          <tr id="table-rowns" class="fs-6">
            <th scope="col">Nº Conh.</th>
            <th scope="col">Origem</th>
            <th scope="col">Destino</th>
            <th scope="col">Cliente</th>
            <th scope="col">Empresa</th>
            <th scope="col">Entrada</th>
            <th scope="col">Vencimento</th>
            <th scope="col">Forma Pg</th>
            <th scope="col">Valor</th>
            <th scope="col">Status </th>
            <th scope="col">#</th>
          </tr>
        </thead>

        <tbody>
          {{#each dados}}
          <tr id="table-rowns" class="fs-6 fst-normal">
            <th scope="row"><a href="/guias/selectEdit/{{_id}}">{{numero}}</a></th>
            <td>{{origem.cidade}}</td>
            <td>{{destino.cidade}}</td>
            <td>{{cliente.name_client}}</td>
            <td>{{empresa.empresa}}</td>
            <td>{{date_entrada}}</td>
            <td>{{venc_exib}}</td>
            <td>{{condPag}}</td>
            <td>{{valor_exib}}</td>
            <td>{{statusBaixa}}</td>
            <td><input id="ckbox" type="checkbox" name="ids" value="{{_id}}"></td>

            <!-- consultas/por_agencia/pesquisar?agencia=65a7dd5ff01bdad8a9f595ed&status=4&dateMin=2024-01-01&dateMax=2024-01-03 -->
          </tr>
          {{else}}
          {{/each}}
        </tbody>
        <input type="hidden" name="agencia" value="{{agencia._id}}">
        <input type="hidden" name="dateMin" value="{{title.dateMin}}">
        <input type="hidden" name="dateMax" value="{{title.dateMax}}">
        <input type="hidden" name="status" value="{{title.status}}">




      </table>
    </div>
    <a role="button" id="btn-export-csv" class="btn btn-secondary btn-sm mt-2">Exportar .CSV</a>

    <button class="btn btn-sm btn-outline-danger mt-2" type="submit">Baixar Selecionados</button>
</form>

<br><br>